<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- script vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <!-- my css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Dischi</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <img src="https://www.scdn.co/i/_global/twitter_card-default.jpg" alt="spotify">


        <select @change="valueChange"  v-model="selected" >
          <option v-for="genre in genreArray" >{{ genre }}</option>
        </select>

      </header>
      <main class="app_container">
        <div  class="container">
          <div v-if="album.genre  == selected || conditionAlbum == true " v-for="album in albumArray"  class="albums">
            <img :src="album.poster" alt="">
            <h4>{{album.title}}</h4>
            <p>{{album.author}}</p>
            <p>{{album.year}}</p>
          </div>

        </div>
      </main>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
